#coin1 {
    background-image: url('https://tse1.mm.bing.net/th?id=OIP.lqys-03A6kJPYQWILDNcGAHaE8&pid=Api&P=0&w=254&h=169')

}

#overview {
    background-color: rgba(255,255,255,0.6);
}


div#cryptoHeader p.header {
  font-weight:bold;
  font-size:30px;
  color:green;
}
#crypto img {
border:3px solid rgb(252, 34, 5)

}
#crypto {
  border:3px solid black
  
}
/* https://tse1.mm.bing.net/th?id=OIP.lqys-03A6kJPYQWILDNcGAHaE8&pid=Api&P=0&w=254&h=169 */

/* https://tse1.mm.bing.net/th?id=OIP.Xgc2KbQ7fHwkI16z7dSamQHaLW&pid=Api&P=0&w=101&h=156 */